body{
    width: 33%;
}

#res{
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

#btn0{
    background-color: lightgreen;
    color: brown;
}

#btn1{
    background-color: lightgreen;
    color: brown;
}
#btnClr{
    background-color: darkgreen;
    color: white;
}
#btnEql{
    background-color: darkgreen;
    color: white;
}
#btnSum{
    background-color: black;
    color: red;
}
#btnSub{
    background-color: black;
    color: red;
}
#btnMul{
    background-color: black;
    color: red;
}
#btnDiv{
    background-color: black;
    color: red;
}

#btns > button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

res has a background-color of lightgray, a border that is solid, a height of 48px, and a font-size of 20px.
btn0 and btn1 have a background-color of lightgreen and a color of brown.
btnClr and btnEql have a background-color of darkgreen and a color of white.
btnSum, btnSub, btnMul, and btnDiv have a background-color of black, a color of red.
All the buttons in btns have a width of 25%, a height of 36px, a font-size of 18px, margin of 0px, and float value left.